GET_CALANDER.json
{
  "name": "GET-CALANDER",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -620,
        -60
      ],
      "id": "62f1908e-1672-4527-805d-96706fef6432",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "tanuj.mangalapally@gmail.com",
          "mode": "list",
          "cachedResultName": "tanuj.mangalapally@gmail.com"
        },
        "limit": 10,
        "timeMin": "={{ $json.output['Requested day'] }}",
        "timeMax": "={{ $json.output['Next day'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -120,
        -60
      ],
      "id": "9c28a835-02fb-475f-be72-bd0c424d4143",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ja0dU4Mg8hDmBo9z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e94c5cc-58d0-4c03-92f9-8c92f1b9cf15",
              "name": "Event",
              "value": "={{$json.summary}}",
              "type": "string"
            },
            {
              "id": "a1a2b2cb-9e09-4dcc-9615-3ec791b3d5d7",
              "name": "Start Time",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "ac1e5a3e-27ad-49a3-97ae-70914825fb66",
              "name": "End Time",
              "value": "={{ $json.end.dateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -60
      ],
      "id": "85c8c36c-fb58-4cdc-b8e9-3afab85da83a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are a calender assistant and i need you to sumarize my day by looking at the events in my calender. here is an event's details:\nEvent name: {{ $json.Event }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        200,
        -60
      ],
      "id": "a15a120f-0247-4256-9c59-ac7f70dd45ad",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        520,
        -60
      ],
      "id": "fca0b9dc-6898-4c64-a384-d2c2b797a48f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e76b32b-d231-477c-b4e4-c0915282b7af",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -60
      ],
      "id": "3557a259-b5cc-4f30-a49a-98e4eac989a2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=your job is to identify waht date the user is asking based on the JSON.query: {{ $json.query }} and today's date: {{ $now }}\nyou should return this date in a feild called \"Requested day\" and only include the date,we don't care about the time.\nexample: if the query asks for today, you would return today's date.\nexample: if the query asks for yesterday, you would return the day before today\nexample: if query asks for tommorow, you would retuen the day after today.\nAfter this, please output a feild called \"Next day\" which should be the day after the date you have already returned.\nfinally the out put should be Requested day and Next day",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -460,
        -60
      ],
      "id": "b1e05c1f-8706-4466-972d-2176e9062296",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -500,
        140
      ],
      "id": "73097545-284c-4f89-9950-56f69838d93c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "JzCwX2SIO7tfaW4Y",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        260,
        160
      ],
      "id": "43572496-ddd0-40d8-a3e0-0c1d56e8c0fe",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "JzCwX2SIO7tfaW4Y",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Requested day\": \"2025-02-14\",\n\t\"Next day\": \"2025-02-15\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -320,
        160
      ],
      "id": "ec5e607d-4d8b-4fc8-b075-429b9920ef32",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "show me what are my scheduled events today"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d683f50-db89-4613-a907-8b67403cffe6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32b2bcd670e5aa404bc0dd88d2ab53b50f284e206b121388c6ee06c44f2c730d"
  },
  "id": "OWnrHuOh3Kqw1df5",
  "tags": []
}