GGT_EMAIL_WORKFLOW.json
{
  "name": "GGT-EMAIL-WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -680,
        -60
      ],
      "id": "c173da32-0766-43cd-bdbc-dec2419cf944",
      "name": "When Executed by Another Workflow",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=your job is to identify  what date the user is asking for based on the JSON.query and the current date: {{$now}}\nexample:\nif query asks for today ,you would return today's date.\nexample:\nif query asks for yesterday , you would return the day before today."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -540,
        -60
      ],
      "id": "24713f6e-183d-42b2-8591-330e6a2b7d22",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ],
          "receivedAfter": "={{ $json.output.date }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        -60
      ],
      "id": "ea83fdc5-55c8-44cb-9dde-5279022a9de3",
      "name": "Gmail",
      "webhookId": "d45d3b36-3dfe-4c2d-a9ec-1907a5edbed8",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "rxaQPldQVdfmQ8Bb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=your task is to give a consise summary of the email that you recieve.\nPlease Include:\nFrom: {{ $json.From }}\nA summary of the email: {{ $json.Subject }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=your task is to give a consise summary of the email that you recieve. Please Include: From: {{ $json.From }} A summary of the email: {{ $json.Subject }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -80,
        -60
      ],
      "id": "f571a487-ec5e-4469-bbb1-74796dde1489",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        280,
        -60
      ],
      "id": "06b7ad58-874f-4ba2-9361-0be5637936d9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45c74f33-7608-431d-b084-3e063aa545e5",
              "name": "response",
              "value": "={{ $json.output[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        -60
      ],
      "id": "6766e54a-e8db-471c-963b-7e079cf33c36",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -600,
        140
      ],
      "id": "469f4071-0c15-47f7-a2a3-f5c9e0b2b183",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "JzCwX2SIO7tfaW4Y",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -120,
        160
      ],
      "id": "331d6d49-5ad6-40cd-acf7-2c38a695ac0c",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "JzCwX2SIO7tfaW4Y",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"From\": \" \",\n\t\"Subject\": \" \"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        100,
        160
      ],
      "id": "51fc3e11-e930-4de8-aedd-702dbcfe5179",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"date\": \"2025-02-16\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -400,
        160
      ],
      "id": "6f66e82a-8885-45de-845a-5b6b14cf26fe",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "get the yesterday's emails"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02b7a8d7-ec8d-4c14-8b16-23621e92ca20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32b2bcd670e5aa404bc0dd88d2ab53b50f284e206b121388c6ee06c44f2c730d"
  },
  "id": "VUVgTFxtI6omat3J",
  "tags": []
}