SET_CALENDER.json
{
  "name": "SET-CALENDER",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -60
      ],
      "id": "c7775dc8-0e2e-40f5-a734-6a55f0ee0f31",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=your job is to determine the following output feilds based on the user query:{{ $json.query }}\nEvent Name: \nStart Time\nEnd Time\nuse {{ $now }} as the current date\nif an end time isn't specified, assume it will be 30 minutes after the start time."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -260,
        -60
      ],
      "id": "374b0b93-c462-4ee5-9586-602e1b206cf7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "tanuj.mangalapally@gmail.com",
          "mode": "list",
          "cachedResultName": "tanuj.mangalapally@gmail.com"
        },
        "start": "={{ $json.output['Start Time'] }}",
        "end": "={{ $json.output['End Time'] }}",
        "additionalFields": {
          "summary": "={{ $json.output['Event Name'] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        80,
        -60
      ],
      "id": "260ed2df-97e6-47bb-bde7-b8e1bde177bb",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ja0dU4Mg8hDmBo9z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e103e7b-a23b-4f5d-b948-8ac85a21569b",
              "name": "response",
              "value": "done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        -60
      ],
      "id": "9c963d9c-e727-46d2-8e33-320b2489fb40",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -340,
        140
      ],
      "id": "ce870e5b-da0c-45bc-aab4-70f363cb55dd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "JzCwX2SIO7tfaW4Y",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Event Name\": \"Gym\",\n\t\"Start Time\": \"2025-02-15T08:00:00+05:30\",\n    \"End Time\" : \"2025-02-15T08:30:00+05:30\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -120,
        160
      ],
      "id": "b5572237-65f4-4e68-bb3a-0d88178a860f",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "tomorrow 8am gym"
        }
      }
    ]
  },
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a0ff48a-be1f-43a7-8f61-02b882168cac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32b2bcd670e5aa404bc0dd88d2ab53b50f284e206b121388c6ee06c44f2c730d"
  },
  "id": "z9mibCx8fuF5Aa45",
  "tags": []
}